@keyframes animacionAgrandar{
    0%{
        width: 150%;
    }
    100%{
        width: 100%;

    }
}
/* ELEMENTOS GENERALES*/
a{
    text-decoration: none;
}
body{
    margin: 0%;
    animation-name:animacionAgrandar;
    animation-duration: 1s;
    background-color: blanchedalmond;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
/* PARRAFOS*/
p{
    text-indent: 15px;
    text-align: justify;
    color: black;
}
/* TITULO SECCIONES*/
h2{
    color:black;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 5px;
}
/* SUBTITULOS/TITULOS DE NOTICIAS*/
h3{
    text-align: center;
    color:black;
    margin: 1%;
}

/* BARRA DE NAVEGACION*/
.nav{
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav__ul{
    justify-content: center;
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.nav__li{
    list-style: none;
    margin: 1px 0%;
    padding: 12px;
    margin-left: 60px;
    margin-right: 60px;
}

.nav__li a{
    color: white;
}


.nav__li:hover{
    padding: 10px;
    border: 2px solid white ;
}

/* HEAD*/
.head{
    display: flex;
    padding-top: 5%;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}
.titulo{
    width: 25%;
}
.titulo h1{
    padding: 30px;
    text-align: center;
    border: 5px dotted blueviolet;
    border-radius: 250px;
}

.divTiempo{
    width: 75%;
    display: flex;
}
.divTiempo__li{
    list-style: none;
    
}
.covidEstadistica{
    display: inline-block;
    text-align: center;
    width: 75%;
    margin: 35px;
    border: 2px solid red;
    
}


/* CUERPO HOME*/
.contenido{
    display: flex;
}


.contenidoDerecho{
    padding: 1%;
    width: 20%;
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 50px;
    margin: 2%;
}
.contenidoIzquierdo{
    padding: 1%;
    width: 80%;
    background-color: indianred;
    border: 2px solid black;
    border-radius: 50px;
    margin: 2%;

}

/* GRUPO DE TRABAJO*/
.grupoTrabajo{
    justify-content: center;
    display: flex;
}
.grupoTrabajo__div{
    width: 33%;
    height: 300px;
    margin: 1%;
    padding: 8px;
    border: 2px solid slateblue;
    background-color: darkseagreen;
    border-radius: 10%;
    
}
.grupoTrabajo__div:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.grupoTrabajo__div img{
    width: 100%;
    height: 220px;
    border-radius: 10%;
}
.grupoTrabajo__div p{
    text-align: center;
}


/* PUBLICIDAD HOME*/
.publicidad{
    width: 100%; 
    margin-bottom: 15%;  
}

.publicidad__img{
    width: 100%;
    border: 2px solid black;
}

/* INDICE HOME*/


.indice li{
    margin: 10%;
    text-align: center;
    border: 1px solid black;
}
.indice li:hover{
    border: 1px solid slateblue;
    color: slateblue;
}

/* FOOTER*/
footer{
    width: 100%;
    padding-top: 25px;
    background-color: slateblue;
    padding: 5px;
}
footer ul{
    text-align: center;
}
footer li{
    display: inline-block;
    text-align: center;    
}
.radio{
    text-align: center;
}

/* NOTICIAS*/
#Noticia1{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/e983f63e-fiesta-clandestina-am%C3%A9rcio-reynoso.jpg);
    background-size: cover;
    
}
#Noticia2{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/0435de14-muerto.jpg);
    background-size: cover;
}
#Noticia3{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/37650059-drogas-1.jpeg);
    background-size: cover;
}
#Noticia4{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/7936df13-patagonia.jpg);
    background-size: cover;
    
}
#Noticia5{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/bcd612bc-santa.jpg);
    background-size: cover;
    
}
#Noticia6{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/e9c5c2b1-golf.jpeg);
    background-size: cover;
    
}
#Noticia7{
    background-image: url(https://cdn.eleco.com.ar/media/2021/04/d1dd861b-parte-diario-28-04-1.jpg);
    background-size: cover;
    
}
#Noticia8{
    background-image: url(https://cdn.eleco.com.ar/media/2020/08/Hospital-Santamarina-25-08-20-10.jpg);
    background-size: cover;
    
}
#Noticia9{
    background-image: url(https://www.eleco.com.ar/wp-content/uploads/2019/01/Hospital-neonatologia-18-01-7.jpg);
    background-size: cover;
    
}

.noticias{
    display: flex;
    justify-content: center;
    color: white;
    
}

.noticias a {
    width: 33%;
    height: 400px;
    margin: 1%;
    border: 2px solid slateblue;
    border-radius: 5%;
    
}
.noticias a:hover{
    transition: transform 1s;
    transform: scale(1.05);
    border: 2px solid slategray
}


.resumen{
    border-radius: 5%;
    background-color: rgba(216, 210, 198, 0.73);
}
.resumen h3{
    margin: 0px;
}


/* TABLA HORARIOS*/
.tabla{
    width: 100%;
    text-align: center;
}


/* CONTACTANOS ENVIO*/

.contenidoContactanos{
    
    padding-top: 2%;
}
.preview{
    display: block;
    margin: 2%;
    min-height: 300px;
    width: 96%;
    word-wrap: break-word;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
}


.envios{
    width: 96%;
    margin: 2%;
    min-height: 200px;
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}
.mensajeEnviado{
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 50px;
    word-wrap: break-word;
    margin: 1%;
}
.mensajeNoEnviado{
    background-color: indianred;
    border: 2px solid black;
    border-radius: 50px;
    word-wrap: break-word;
    margin: 1%;
}
.textoPreview{
    
    width: 100%;
    text-align: center;
}

.textoEstadoPreview{
    
    text-align: center;
    font-weight:bold;
    
}
.firmaPreview{
    font-style: italic;
    text-align: right;
    padding-right: 10%;
}

.captcha{
    text-align: center;
    margin-bottom: 2%;
    
}
.formulario{
    text-align: center;
}
.formulario input{
    margin-right: 5%;
}
.envioMensaje{
    margin-top: 2%;
    
}