@keyframes animacionAgrandar{
    0%{
        width: 150%;
    }
    100%{
        width: 100%;

    }
}
/* ELEMENTOS GENERALES*/
a{
    text-decoration: none;
}
body{
    justify-content: center;
    margin: 0%;
    animation-name:animacionAgrandar;
    animation-duration: 1s;
    background-color: blanchedalmond;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
/* PARRAFOS*/
p{
    text-indent: 15px;
    text-align: justify;
    color: black;
}
/* TITULO SECCIONES*/
h2{
    color:black;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 5px;
}
/* SUBTITULOS/TITULOS DE NOTICIAS*/
h3{
    text-align: center;
    color:black;
    margin: 1%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 2px;
    background-color: blueviolet;
    color: white;
}

.btn_menu {
    color: white;
    padding: 15px;
}

.btn_menu a{
    color: white;
    text-decoration: none;
}

.menu {
    
    width: 100%;
    display: flex;
    background-color: black; 
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
}

    /* si tiene tambien la clase show */
    ul.navigation.show {
        display: flex;
    }

ul.navigation li {
    list-style: none;
    margin: 0px 0px;
    padding: 15px 20px;
}

ul.navigation li a {
    text-decoration: none;
    color: white;
}

ul.navigation li:hover {
    background-color: rgb(83, 81, 81);
}


@media screen and (min-width: 800px){

    /* en desktop ocultamos siempre el boton del menu */
    .btn_menu {
       display: none;
    }

   /* cambiamos la direccion del flex */
    ul.navigation {
        justify-content: center;
        display: flex;
        flex-direction: row;
        
    }
    .logo{
        justify-content: center;
    }


}
/* BARRA DE NAVEGACION*/
/*
.nav{
    background-color: blueviolet;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav__ul{
    justify-content: center;
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
.nav__li{
    list-style: none;
    margin: 1px 0%;
    padding: 12px;
    margin: 5px 5%;
}

.nav__li a{
    color: white;
}


.nav__li:hover{
    padding: 10px;
    border: 2px solid white ;
}
*/
/* HEAD*/
.head{
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    align-items: center;
}
.titulo{
    min-width: 100px;
}
.titulo h1{
    padding: 30px;
    text-align: center;
    border: 5px dotted blueviolet;
    word-wrap: break-word;
    border-radius: 250px;
}

.divTiempo{
    
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
.divTiempo__li{
    list-style: none;   
}
@media only screen and (min-width: 1000px){

    .divTiempo{
        flex-direction: row;
    }

}
.covidEstadistica{
    text-align: center;
    width: 75%;
    margin: 35px;
    border: 2px solid red;
}


/* CUERPO HOME*/
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

@media only screen and (min-width: 1000px){

    .contenido{
        
        flex-direction: row;
        
        
    }
    .contenidoDerecho{
        
        width: 30%;
        
    }
    .contenidoIzquierdo{
       
        width: 80%;
    
    }

}


.contenidoDerecho{
    
    
    padding: 1%;
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 50px;
    margin: 2%;
}
.contenidoIzquierdo{
    
    padding: 1%;
    background-color: indianred;
    border: 2px solid black;
    border-radius: 50px;
    margin: 2%;

}

/* GRUPO DE TRABAJO*/
.grupoTrabajo{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

.grupoTrabajo__div{
    width: 70%;
    height: 350px;
    margin: 2%;
    padding: 8px;
    border: 2px solid slateblue;
    border-radius: 10%;
    background-color: darkseagreen;
}
.grupoTrabajo__div:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.grupoTrabajo__div img{
    text-align: center;
    width: 100%;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
}
.grupoTrabajo__div p{
    text-align: center;
}

@media only screen and (min-width: 1000px){

    .grupoTrabajo{
        flex-direction: row;
        justify-content: center;
    }
    .grupoTrabajo__div{
        width: 33%;
        height: 300px;
        
    }
    .grupoTrabajo__div img{
       
       width: 100%;
       object-fit: cover;
    }

}
/* PUBLICIDAD HOME*/
.publicidad{
    width: 100%; 
    margin-bottom: 15%;  
}

.publicidad__img{
    width: 100%;
    border: 2px solid black;
}

/* INDICE HOME*/


.indice li{
    margin: 10%;
    text-align: center;
    border: 1px solid black;
}
.indice li:hover{
    border: 1px solid slateblue;
    color: slateblue;
}

/* RADIO(AUDIO)*/
.radio{
    text-align: center;

}

.radio iframe{
    width: 250px;
    height: 500px; 
    border: 1px;
    border-radius: 5%;
    margin: 5%;
    
}
/* FOOTER*/
footer{

    background-color: slateblue;
    padding: 5px;
}

footer p{
    text-align: center;
    color: white;
}



/* NOTICIAS*/
#Noticia1{
    background-image: url(../img/noticia1.jpg);
    background-size: cover;
    
}
#Noticia2{
    background-image: url(../img/noticia2.jpg);
    background-size: cover;
}
#Noticia3{
    background-image: url(../img/noticia3.jpg);
    background-size: cover;
}
#Noticia4{
    background-image: url(../img/noticia4.jpg);
    background-size: cover;
    
}
#Noticia5{
    background-image: url(../img/noticia5.jpg);
    background-size: cover;
    
}
#Noticia6{
    background-image: url(../img/noticia6.jpg);
    background-size: cover;
    
}
#Noticia7{
    background-image: url(../img/noticia7.jpg);
    background-size: cover;
    
}
#Noticia8{
    background-image: url(../img/noticia8.jpg);
    background-size: cover;
    
}
#Noticia9{
    background-image: url(../img/noticia9.jpg);
    background-size: cover;
    
}

.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
}

.noticias a {
    width: 90%;
    height: 600px;
    margin: 3%;
    border: 2px solid slateblue;
    border-radius: 5%;
    
}
.noticias a:hover{
    transition: transform 1s;
    transform: scale(1.05);
    border: 2px solid slategray
}
@media only screen and (min-width: 1000px){

    .noticias{
        flex-direction: row;
    }
    .noticias a {
        width: 33%;
        margin: 1%;
        height: 400px;
    }


}


.resumen{
    border-radius: 5%;
    background-color: rgba(216, 210, 198, 0.73);
}
.resumen h3{
    margin: 0px;
}


/* TABLA HORARIOS*/
.tabla{
    width: 100%;
    text-align: center;
}


/* CONTACTANOS ENVIO*/

.contenidoContactanos{
    
    padding-top: 2%;
}
.preview{
    
    margin: 2%;
    min-height: 300px;
    width: 96%;
    word-wrap: break-word;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
}


.envios{
    width: 96%;
    margin: 2%;
    min-height: 200px;
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}
.mensajeEnviado{
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 50px;
    word-wrap: break-word;
    margin: 1%;
}
.mensajeNoEnviado{
    background-color: indianred;
    border: 2px solid black;
    border-radius: 50px;
    word-wrap: break-word;
    margin: 1%;
}
.textoPreview{
    
    width: 100%;
    text-align: center;
}

.textoEstadoPreview{
    
    text-align: center;
    font-weight:bold;
    
}
.firmaPreview{
    font-style: italic;
    text-align: right;
    padding-right: 10%;
}

.captcha{
    text-align: center;
    margin-bottom: 2%;
    
}
.formulario{
    text-align: center;
}
.formulario input{
    margin-right: 5%;
}
.envioMensaje{
    margin-top: 2%;
    
}